* { /* styling for whole page */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* hexadecimal color & font that will apply to contents of page */
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

/* styling for header */
header {
    /* padding adding space to where the header starts and the content start */
    padding: 20px 35px;
    background-color: #39a6b2;
    box-shadow: 1px 1px 10px #000000;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0px;
    display: inline;
    
}

header a {
    color: #fce138;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

header nav {
    float: right;
    margin: 7px 0px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* styling for footer */
footer {
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    font-size: 30px;
    color: #024e76;
    margin: 0px;
    display: inline;
}

footer div {
    float: right;
    line-height: 1;
    text-align: right;
}

footer a {
    color: #024e76;
}

section {
    padding: 60px;
}

/* styling for hero/jumbotron */
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

/* styling for hero submit form */
.hero-form {
    color: #024e76;
    background-color: #fce138;
    border: solid 3px #024e76;
    padding: 20px;
    width: 500px;
    position: absolute;
    box-shadow: 5px 5px 50px #000000;
    bottom: 120px;
    right: 140px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    font-size: 16px;
    border: solid 1px #024e76;
    display: block;
    color: #024e76;
    padding: 7px 15px;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    font-size: 16px;
    padding: 10px 20px;
}

/* adding new css rules to combat redundancies */
.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    border-bottom: 3px solid;
    padding: 0 100px 20px;
    display: inline-block;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}

/* styling for what we do section */
.intro {
    text-align: center;
}

.intro h2 { /* rules removed for redundancy */
    
}

.intro p {
    line-height: 1.7;
    width: 80%;
    color: #39a6b2;
    font-size: 20px;
    margin: 0 auto;
}

/*styling for what you do section */
.steps {
    text-align: center;
    background-color: #fce138;
}

.steps h2 { /* rules removed for redundancy */

}

.steps div {
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0px;
}

.steps h3 {
    font-size: 46px;
    color: #024e76;
    margin-top: 10px;
}
.steps span {
    font-size: 38px;
}

.steps p {
    font-size: 23px;
    color: #39a6b2;
}

.trainers {
    text-align: center;
}

.trainer {
    width: 900px;
    margin: 0 auto 30px;
    background-color: #024e76;
    color: #fce138;
    overflow: auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.trainer img {
    width: 35%;
    float: left;
}

.trainer-bio {
    padding: 35px;
    float: left;
    width: 65%;
}

.trainer-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
}

.trainer-bio p {
    font-size: 17px;
    line-height: 1.3;
}

